<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list  at-nav-list>
      <a mat-list-item routerLink="/admin"><mat-icon>bubble_chart</mat-icon> Dashboard</a>
      <a mat-list-item routerLink="/admin/products"><mat-icon>store</mat-icon> Productos</a>
      <a mat-list-item routerLink="/admin/categories"><mat-icon>category</mat-icon> Categoría</a>
      <a mat-list-item routerLink="/admin/basic"><mat-icon>category</mat-icon> Basic Form</a>
      <a mat-list-item routerLink="/admin/lista">Inventario</a>

      <button mat-list-item (click)="logout()" >Cerrar</button>

      <!-- <a mat-list-item routerLink="/admin/products/create">Crear Producto</a> -->



    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-platzi</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
