<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="row between-xs middle-xs header-row">
        <nav>
          <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
          <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
          <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
          <a mat-button routerLink="/demo" routerLinkActive="active">Demo</a>
        </nav>
        <a mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn" routerLink='order'> 
          <mat-icon>shopping_cart</mat-icon>
          Carrito
        </a>
      </div>


    </mat-toolbar-row>

</mat-toolbar>


