<div *ngIf="product">
    <div >
        <img [src]="product.image" alt="">
    </div>
    <div>
        <ul>
            <li>Nombre: {{ product.title }} </li>
            <li>Precio: {{ product.price }} </li>
        </ul>
        <p> {{ product.description }} </p>
    </div>
    <button (click)="createProduct()" > Crear</button>
    <button (click)="updateProduct()" > Editar</button>
    <button (click)="deleteProduct()" > Eliminar</button>


</div>