<p>
  Name:{{ nameField.valid }}
  <input
    [class.is-valid]=" nameField.touched && nameField.valid"
    [class.is-inValid]=" nameField.touched && nameField.invalid"
    type="text"
    [formControl]="nameField"/>
  <button [disabled]="nameField.invalid" (click)="getNameValue()">Get value</button>
  <!-- <code>
    <pre>{{ nameField | json }}</pre>
  </code> -->
</p>
<p *ngIf="nameField.touched && nameField.hasError('required')"><strong> Este campo es requerido </strong></p>
<p *ngIf="nameField.touched && nameField.hasError('maxlength')"><strong> Maximo 15 caracteres </strong></p>

<p>
  Email: {{ emailField.value }}
  <input type="email" [formControl]="emailField"/>
</p>

<p>
  Phone: {{ phoneField.value }}
  <input type="tel" [formControl]="phoneField"/>
</p>

<p>
  Color: {{ colorField.value }}
  <input type="color" [formControl]="colorField"/>
</p>

<p>
  Date: {{ dateField.value }}
  <input type="date" [formControl]="dateField"/>
</p>

<p>
  Phone: {{ ageField.value }}
  <input type="number" [formControl]="ageField"/>
</p>

<p>
  Range price: {{ priceField.value }}
  <input type="range" [formControl]="priceField"/>
</p>

<p>
  category : {{categoryField.value}}
  <select name="" id=""  [formControl]="categoryField">
    <option value="cat-1">Category 1 </option>
    <option value="cat-2">Category 2 </option>
    <option value="cat-3">Category 3 </option>
    <option value="cat-4">Category 4 </option>
  </select>
</p>

<p>
  Tags : {{tagField.value}}
  <select name="" id=""  [formControl]="tagField" multiple size="4">
    <option value="tag-1">Tag 1 </option>
    <option value="tag-2">Tag 2 </option>
    <option value="tag-3">Tag 3 </option>
    <option value="tag-4">Tag 4 </option>
    <option value="tag-5">Tag 5 </option>
    <option value="tag-6">Tag 6 </option>
  </select>
</p>

<p>
  Agree: {{ agreeField.value }}
  <input type="checkbox" [formControl]="agreeField"/>
</p>

<p>
  Gender: {{ genderField.value }}
  <label >
    <input type="radio" name="gender" value="male" [formControl]="genderField"/>
    Male
  </label>
  <label >
    <input type="radio"name="gender"   value="female" [formControl]="genderField"/>
    Female
  </label>
  <label >
    <input type="radio" name="gender" value="other" [formControl]="genderField"/>
    Other
  </label>
</p>

<p>
  Zone: {{ zoneField.value }}
  <label >
    <input type="radio" name="zone" value="zone-1" [formControl]="zoneField"/>
    Zona 1
  </label>
  <label >
    <input type="radio" name="zone" value="zone-2" [formControl]="zoneField"/>
    Zona 2
  </label>
  <label >
    <input type="radio" name="zone" value="zone-3" [formControl]="zoneField"/>
    Zona 3
  </label>
</p>
