
<input type="text" [(ngModel)]="title">
{{title}}

<div>
  <br>
<button (click)="addItem()"> Add Item </button>


</div>  

<h3 *ngIf="items.length <= 0"> Lista Vacia </h3>

<ul>
  <li *ngFor="let item of items; index as i" >
    {{item}} {{ i }}
    <button (click)="deleteItem(i)"> Delete Item </button>

  </li>
</ul>

<br>
<br>