<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let image of imagenes; let i=index">
            <img [src]="image" alt="">
        </div>
    </div>
</div>
