<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{product.title | uppercase}}
        </mat-card-title>
        <mat-card-subtitle>
            {{product.price | currency: 'CO $'}}
        </mat-card-subtitle>
    </mat-card-header>

    <div class="crop-image">
        <img [src]="product.image" alt="" >
    </div>

    <mat-card-content>
        <p>{{ product.description | slice:0:10 }}</p>
    </mat-card-content>
    <mat-card-actions>
        <a  mat-raised-button [routerLink]="[ '/products', product.id ]"> Ver detalle ..</a>
        <button mat-raised-button color="primary" type="button"  (click)="agregarCarrito(product)">Agregar al carrito</button>
    </mat-card-actions>
</mat-card>

<!-- <h3 appHighligh>{{product.title | uppercase}}</h3>
<img [src]="product.image" alt="" >
<strong>{{product.price | currency: 'CO $'}}</strong>
<P>{{ today | date }}</P>
<p>{{power | exponential}}</p>
<div>
    

</div>
<br><br> -->
