
<mat-card>
  <mat-card-header>
    <mat-card-title>Producto</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="form" (ngSubmit)="save($event)">

      <div class="row">
        <div class="col-xs">
          <mat-form-field class="width">
            <input placeholder="id" formControlName="id" matInput type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field class="width">
            <input placeholder="title" formControlName="title" matInput type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field class="width">
            <input placeholder="price" formControlName="price" matInput type="text">
          </mat-form-field>
          <div *ngIf="priceField.errors && priceField.dirty">
            <mat-error *ngIf="priceField.hasError('priceInvalid')">Precio supero los $10.000</mat-error>
            <mat-error *ngIf="priceField.hasError('required')">El campo es reququerido</mat-error>
          </div>
          

        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field class="width">
            <textarea placeholder="description" formControlName="description" matInput type="text"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <div class="crop-image">
            <img *ngIf="(image$ | async) as image" [src]="image" alt="" >
          </div>
          <input type="file" (change)="uploadFile($event)" name="" id="">
        </div>
      </div>
      <mat-card-actions>
        <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
      </mat-card-actions>

    </form>
  </mat-card-content>
  
  
</mat-card>


