<a mat-raised-button routerLink="create"> Crear un Nuevo Producto</a>
<table mat-table [dataSource]="products" class="mat-elevation-z8 products-table" >

  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let prodcut"> {{prodcut.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let prodcut"> {{prodcut.title}} </td>
</ng-container>

<ng-container matColumnDef="price">
  <th mat-header-cell *matHeaderCellDef> price </th>
  <td mat-cell *matCellDef="let prodcut"> {{prodcut.price}} </td>
</ng-container>

<ng-container matColumnDef="accions">
  <th mat-header-cell *matHeaderCellDef> Accions </th>
  <td mat-cell *matCellDef="let prodcut">
      <button mat-raised-button color="primary" [routerLink]="['edit', prodcut.id]">Editar</button>
      <button mat-raised-button color="warn" style="margin-left: 1%;" (click)="eliminarProduct(prodcut.id)">Eliminar</button>
  </td>
</ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
